*, html {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

input {
    outline: none;
}

textarea:focus,
input:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.wrapper {
    width: 100%;
}

._container {
    width: 1000px;
    margin: 0 auto;
}


.promo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 80vh;
}

.promo__intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.promo__video{
    margin: 0 auto;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
}

.promo__product {
    z-index: 1000;
    color: rgb(61, 60, 60);
    margin: 0 auto;
    position: relative;
    height: 20rem;
    width: 70%;
}

.product__name {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: rgb(54, 54, 54);
      -webkit-text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
      -moz-text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
}

.product__haracter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.product__haracter-images {
    display: flex;
    width: 50%;
}

.product__haracter-img{
    width: 60%;
}

.product__haracter-list{
    line-height: 2rem;
}

.product__haracter-list li {
    color: rgb(255, 255, 255);
}

.propduct__btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.propduct__btn-click,
.btnInput {
    margin-top: 10%;
    width: 10rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
}

.propduct__btn-click:hover,
 .btnInput:hover{
    transition: 0.1s;
    background: rgb(221, 221, 221);
}

.propduct__btn-click:active,
 .btnInput:active{
    transition: 0.1s;
    background: rgb(187, 187, 187);
}

/* block two */

.composition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.composition__column-one {
    display: flex;
    flex-direction: column;
}

.ingredient {
    margin: 5%;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 5px;
}

.ingredient__img-list{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ingredient__list {
    display: flex;
    align-items: center;
    text-align: center;
}

.ingredient__images {
    border-radius: 50%;
    width: 7rem;
}

.ingredient__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ingredient__button{
    width: 100%;
    display: flex;
    justify-content: center;
}


.composition__product {
    display: flex;
    align-items: center;
}

.composition__product-images {
    height: 40%;
    display: flex;
    justify-content: center;
}




/* Promo */
.bg_container {
    background-image: linear-gradient(to right, rgb(238, 238, 238) 10%, rgb(245, 186, 253) 50%);
}

.promo-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 4%;
    margin-bottom: 5%;
}

.promo-down__men {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.promo-down__men-images,
.promo-down__men-haracter {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-down__men-haracter {
    flex-direction: column;
    padding: 1%;
}

.promo-down__men-haracter p {
    color: rgb(44, 44, 44);
    line-height: 1.5rem;
    text-align: center;
}

.promo-down__men-img {
    display: flex;
    width: 100%;
}

.promo-down__description {
    position: relative;
    margin-top: 4%;
    width: 80%;
}

.promo-down__description-list {
    display: flex;
    flex-direction: row;
}

.promo-down__description-li {
    margin: 2%;
}

.btnInput {
    margin-bottom: 5%;
}


/* Timer */
.form {
    margin-top: 3%;
}

.form__timer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form__timer-item{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.form__timer-item-minutes {
    font-size: 2.5rem;
    color: rgb(117, 116, 116);
    font-family: 'Roboto', sans-serif;
}

.form__timer-item-text{
    font-size: 1rem;
    color: rgb(117, 116, 116);
}

.form__order{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4%;
}

.form__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.form__img img {
    width: 50%;
}

.form__number-name{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form__btn-order{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form__btn{
    padding: 0.8rem 2rem;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(197, 247, 247);
    cursor: pointer;
}

.form__btn:hover {
    transition: 0.2s;
    background-color: rgb(136, 214, 214);
}
.form__btn:active {
    transition: 0.2s;
    background-color: rgb(197, 247, 247);
}

.form__input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
}


.price {
    margin-bottom: 5%;
}

.price-old,
.price-new {
    display: flex;
    flex-direction: row;
    color: rgb(54, 54, 54);
}

.price-old {
    text-decoration: line-through;
    text-align: center;
    margin-left: 20%;
}

.price-new {
    font-size: 1.2rem;
    background: rgb(112, 247, 123);
    width: 100%;
    margin: 2%;

    animation: priceAnim 1s linear infinite;
}

@keyframes priceAnim {
    0% {
        background: rgb(112, 247, 123);
    }
    50% {
        background: rgb(112, 247, 247);
    }
    100% {
        background: rgb(112, 247, 123);
    }
}